
public/audio/weather/*.mp3

public/audio/weather/*.mp3
dist/public/audio/weather/*.mp3
src/components/public/audio/weather/*.mp3

public/audio/weather/*.mp3
dist/public/audio/weather/*.mp3
src/components/public/audio/weather/*.mp3

public/audio/weather/*.mp3
dist/public/audio/weather/*.mp3
src/components/public/audio/weather/*.mp3
